grpcio>=1.76.0
grpcio-tools>=1.76.0
protobuf>=6.31.1
pymongo
python-dotenv
opentelemetry-api==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-exporter-otlp==1.15.0
opentelemetry-instrumentation-requests==1.15.0