name: Integration Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  auth-service-integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js (for Nx)
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"

      - name: Install dependencies
        run: npm install

      - name: Run Auth-Service Integration Tests
        run: nx run auth-service:integration-test
